fastapi == 0.95.0
graphene == 3.2.2
sqlalchemy == 2.0.7
uvicorn == 0.21.1
faker == 18.3.2
strawberry-graphql[fastapi] == 0.175.1
python-jose[cryptography] == 3.3.0
passlib[bcrypt] == 1.7.4
python-multipart == 0.0.6
kink == 0.6.6